*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: serif;
    font-weight: 600;
    font-size: calc(62.5% / 1.5);
}

main {
    padding: 2rem;
}

.player-dialog {
    margin: auto;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    font-size: 1.8rem;
    h2 {
        padding: 2rem;
    }
    button {
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
    }
    fieldset {
        padding: 2rem;
        width: 90%;
        label {
            padding-right: 1rem;
        }
        div {
            div {
                padding: 1rem;
                label {
                    padding-right: 1rem;
                }
            }
        }
        > input {
            font-weight: 600;
            font-size: inherit;
            padding: 1rem;
        }
    }
}

.collapsed {
    display: none !important;
}

.board {
    background-color: green;
    width: 100vw;
    height: 100svh;
}

.player-collection-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;
}

.player-container {
    margin: 2rem;
    width: fit-content;
}

.player-card-container {
    margin: 1rem;
    padding: 1rem;
    min-height: 17.2rem;
    min-width: 58rem;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
    border: 5px solid rgb(128, 190, 35);
    border-radius: 10px;
}

.player-name, .player-hand {
    margin: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
}

.player-hand {
    color: rgb(128, 190, 35);
    font-family: "Mea Culpa", cursive;
    font-size: 3rem;
    font-style: italic;
}

.player-name {
    color: white;
    font-family: "Mea Culpa", cursive;
    font-size: 3rem;
}

.card-holder {
    min-width: 10rem;
    width: 10rem;
    aspect-ratio: 10 / 14.2;
}

.card-holder:hover {
    cursor: alias;
}

.card-front {
    min-width: 10rem;
    width: 10rem;
    aspect-ratio: 10 / 14.2;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    font-size: 1.8rem;
}

.card-back {
    min-width: 10rem;
    width: 10rem;
    aspect-ratio: 10 / 14;
    object-fit: scale-down;
}

.top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}

.bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.mirror-flip {
    transform: rotate(180deg);
}

.red {
    color: red;
}

.black {
    color: black;
}

.footer-margin {
    width: 100vw;
    height: 10rem;
}

.footer {
    width: 100vw;
    height: 10rem;
    position: fixed;
    bottom: 0;
    background: linear-gradient(rgb(131, 97, 97) 0%, rgb(109, 29, 29) 15%, rgb(109, 29, 29) 100%);
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.footer-buttons {
    margin-top: 1.5rem;
    padding: 0 1rem;
    height: 8rem;
    font-family: "Poppins", cursive;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(45, 255, 115);
    color: yellow;
    box-shadow: 2px 2px 10px 0px #160404fd;
    cursor: pointer;
}

.footer-button-disable {
    background-color: rgb(203, 206, 204);
}

.footer-buttons:hover {
    background-color: rgb(45, 255, 115);
    box-shadow: none;
}

.footer-button-disable:hover {
    background-color: rgb(203, 206, 204);
    box-shadow: 2px 2px 10px 0px #160404fd;
}

/* On screens that are 650px to 1024px (Tablets & Small Desktops) */
@media (min-width: 650px) {

    html {
        font-size: calc(62.5% / 1.25);
    }
}

/* On screens that are 1024px or more (Medium & Large Desktops) */
@media (min-width: 1024px) {

    html {
        font-size: 62.5%;
    }
}